genapp/__pycache__/
genapp/migrations/__pycache__/
genapp/__pycache__/models.cpython-39.pyc
genapp/__pycache__/views.cpython-39.pyc
genapp/__pycache__/urls.cpython-39.pyc
genapp/__pycache__/modules.cpython-39.pyc
genapp/__pycache__/models.cpython-39.pyc
