body {

    height: 101vh;
    width: 80%;
    margin: 0 auto;
}

form {
    margin: 0 auto;
    
}

.example {
    display: inline-block;
    text-align: right;
}

.overflow {
    width: 100%;
    overflow-y: auto;
    border: 1px solid #c2c3c4;
}

.tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}
.tab-content>.tab-pane.active {
    height: auto;
}