{% include "genapp/header.html" %}

<div class="container">
  <div class="row justify-content-md-center text-center">
    <ul class="list-group w-50">
      <li class="list-group-item"><a class="nav-link active display-6" href="lab05">lab05</a></li>
      <li class="list-group-item"><a class="nav-link active display-6" href="lab04">lab04</a></li>
      <li class="list-group-item"><a class="nav-link active display-6" href="lab03">lab03</a></li>
      <li class="list-group-item"><a class="nav-link active display-6" href="lab02">lab02</a></li>
    </ul>
  </div>  
</div>

{% include "genapp/footer.html" %}
