<link rel="icon" type="image/png" href="favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
{% load static %}
<link href="{% static 'main.css' %}" rel="stylesheet"></script>
<link rel="icon" href="{% static 'favicon.ico' %}">

{% include "genapp/nav.html" with active_page='lab05' %}
{% include "genapp/header.html" %}

<h3>Wybierz parametry</h3>
<p>dla funkcji f(x)= x MOD 1 * (COS( 20 * π * x) – SIN(x))</p>
<br>

<form> 
    {% csrf_token %}
    <div class="form-group row">
        <label for="rangeA" class="col-sm-3 col-form-label">Zakres &#10092;a,b&#10093;: </label>
        <div class="col-sm-2 col-lg-2">
          <input type="number" name="rangeA" class="form-control rangeA" value="-4">
        </div>
        <div class="col-sm-2 col-lg-2 col-">
          <input type="number" name="rangeB" class="form-control rangeB" value="12">
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label for="precision" class="col-sm-3 col-form-label">Precyzja (10<sup>-x</sup>)</label>
        <div class="col-sm-4 col-lg-2">
          <input type="number" name="precision" class="form-control precision" value="3" min="0" step="1">
          <label for="precision" class="example">	</label>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label for="population" class="col-sm-3 col-form-label">Rozmiar populacji</label>
        <div class="col-sm-4 col-lg-2">
          <input type="number" name="population" class="form-control population" value="50">
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label for="generations" class="col-sm-3 col-form-label">Ilość pokoleń</label>
        <div class="col-sm-4 col-lg-2">
          <input type="number" name="generations" class="form-control generations" value="100">
        </div>
    </div>
    <br>

    <div class="form-group row">
      <label for="crossoverProbability" class="col-sm-3 col-form-label">Prawdopodobieństwo krzyżowania</label>
      <div class="col-sm-4 col-lg-2">
        <input type="number" name="crossoverProbability" class="form-control crossoverProbability" value="0.75">
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label for="mutationProbability" class="col-sm-3 col-form-label">Prawdopodobieństwo mutacji</label>
      <div class="col-sm-4 col-lg-2">
        <input type="number" name="mutationProbability" class="form-control mutationProbability" value="0.0005">
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label for="elite" class="col-sm-3 col-form-label">Ilość elit</label>
      <div class="col-sm-4 col-lg-2">
        <select name="elite" class="form-control elite">
          <option value="1">1</option>
          <option value="0">0</option>
        </select>
      </div>
    </div>
    <br>

    <input type="button" class="btn btn-outline-dark evolution" value="Generuj">
</form>
<br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="evaluation-tab" data-bs-toggle="tab" data-bs-target="#evaluation" type="button" role="tab" aria-controls="evaluation" aria-selected="true">Ocena osobników</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chart" type="button" role="tab" aria-controls="chart" aria-selected="false">Wykres</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="test-tab" data-bs-toggle="tab" data-bs-target="#test" type="button" role="tab" aria-controls="test" aria-selected="false">Test</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="evaluation" role="tabpanel" aria-labelledby="evaluation-tab">
    <br>
    <a class="btn btn-light" href="/download/generations_history.csv">Historia pokoleń</a>
    <a class="btn btn-light" href="/download/generations_summary.csv">Podsumowanie</a>
    <br>
    <div class="overflow">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Xreal</th>
            <th scope="col">Xbin</th>
            <th scope="col">f(x)</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody class="results">
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">
    <div style="height: 600px">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="test-tab">
    <form>
      <div class="form-group row">
        <label for="testsNumber" class="col-sm-3 col-form-label">Ilość testów</label>
        <div class="col-sm-4 col-lg-2">
          <input type="number" name="testsNumber" class="form-control testsNumber" value="10">
        </div>
      </div>
      <div class="form-group row">
        <label for="testsNumber" class="col-sm-3 col-form-label">Precyzja</label>
        <div class="col-sm-4 col-lg-2">
          <input type="number" name="testPrecision" class="form-control testPrecision" value="3">
        </div>
      </div>
      <br>
      <input type="button" class="btn btn-outline-dark test" value="Testuj">
    </form>
    <br>
    <div class="overflow">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Populacja</th>
            <th scope="col">Pokolenia</th>
            <th scope="col">p. krzyżowania</th>
            <th scope="col">p. mutacji</th>
            <th scope="col">fmax</th>
            <th scope="col">fave</th>
          </tr>
        </thead>
        <tbody class="tests-results">
        </tbody>
      </table>
    </div>
  </div>
</div>


{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'main.js' %}"></script>